{% load static %}

<!Doctype html>
<html>
<head>
    <meta charset="utf-8">
	<title>Extronix</title>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
	<link href="{% static 'nav.css' %}" rel="stylesheet">
</head>
<body>
<div class="nav">
		<div>
			<img src="{% static 'images//logo.png' %}" height="55px">
			<div class="brand d-inline-flex">
				<h1 class="btn"><a href="CLASS 4SEP2021.html">Extronix</a></h1>
			</div>
		</div>

		<div class="menu">
			<ul>
				<li><a href="index.html"><i class="fa fa-home" aria-hidden="true"></i>Home</a></li>
				<li><a href="contact.html"><i class="fas fa-globe"></i>All</li>
				<li><a href=""><i class="fas fa-plane-arrival"></i>New Release</a></li>
				<li><a href=""><i class="fab fa-gratipay"></i>Best Deals</a></li>
				<li><a href=""><i class="fas fa-gift"></i>Today's offer</a></li>
			</ul>
		</div>
		<div class="search">
			<div class="input-group mb-3">
			  <input type="text" class="form-control" placeholder="search product" aria-label="Recipient's username" aria-describedby="basic-addon2">
			  <div class="input-group-append">
			    <button class="btn btn-outline-secondary" type="button"><i class="fas fa-search"></i></button>
			  </div>
			</div>

		</div>
		<div class="account btn mx-3">
			<a href=""><i class="fas fa-user-alt-slash"></i></a>
		</div>
	</div>
{% block body %}

{% endblock %}
</body>
</html>